.page {
  padding: 15px;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to bottom,
      rgba(139, 142, 147, 0.2) 0%,
      rgba(178, 164, 161, 0.2) 100%
    ),
    url(./card1-bg.jpg);
}
.title {
  font-family: "Cinzel", serif;
  font-weight: 900;
  font-size: 80px;
  letter-spacing: 10px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 20px;
}
