#search {
  width: 24px;
  padding: 0 10px;
  height: 24px;
  font-size: 14px;
  color: #666;
  line-height: 24px;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 0 0 1px rgba(200, 180, 0, 0.5),
    inset 0 2px 5px rgba(150, 150, 0, 0.3), 0 2px 0 rgba(255, 255, 255, 0.6);
  position: relative;
  z-index: 5;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#search:focus {
  outline: none;
  width: 300px;
}

div.s {
  z-index: 4;
  position: relative;
  padding: 5px;
  line-height: 0;
  border-radius: 100px;
  background: #fee7b9;
  background-image: -webkit-linear-gradient(#fffbdb, #fef1b9);
  background-image: -moz-linear-gradient(#fffddb, #fef2b9);
  display: inline-block;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),
    0 2px 5px rgba(150, 115, 0, 0.4);
}

div.s:after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 20px;
  background: #fef1b9;
  bottom: -10px;
  right: -3px;
  border-radius: 0 0 5px 5px;
  rotate: -45deg;
  box-shadow: inset 0 -1px 0 rgbA(255, 255, 255, 0.6),
    -2px 2px 2px rgba(150, 140, 0, 0.4);
}
