#search {
  width: 24px;
  padding: 0 10px;
  height: 24px;
  font-size: 14px;
  color: #666;
  line-height: 24px;
  border: 5px;
  border-radius: 50px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5),
    inset 0 2px 5px rgba(198, 196, 196, 0.3), 0 2px 0 rgba(168, 167, 167, 0.6);
  position: relative;
  z-index: 5;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: #c6cccd;
}

#search:focus {
  outline: none;
  width: 300px;
}

div.s {
  z-index: 4;
  position: relative;
  padding: 5px;
  line-height: 0;
  border-radius: 100px;
  background: #000000;
  background-image: -webkit-linear-gradient(#b9b9b9, #7a7878);
  background-image: -moz-linear-gradient(#b9b9b9, #7a7878);
  display: inline-block;
  box-shadow: inset 0 1px 0 rgba(115, 115, 115, 0.6),
    0 2px 5px rgba(115, 115, 115, 0.4);
}

div.s:after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 20px;
  background: #000000;
  bottom: -10px;
  right: -3px;
  border-radius: 0 0 5px 5px;
  rotate: -45deg;
  box-shadow: inset 0 -1px 0 rgba(115, 115, 115, 0.6),
    -2px 2px 2px rgba(115, 115, 115, 0.6);
}

.word {
  font-size: 50px;
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
  font-family: "Cinzel", serif;
  letter-spacing: 4px;
  font-weight: 900;
}
.word::first-letter {
  text-transform: uppercase;
}
.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
}
@media (max-width: 700px) {
  .main-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .word {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 600;
  }
}
