.footer {
  height: 20vmin;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(171, 168, 168, 0.6) 100%
    ),
    url(./header.jpg);
  background-blend-mode: lighten;

  border-top: 1px solid rgba(0, 0, 0, 0.359);
  padding: 10px;
  font-family: "Recursive", sans-serif;
}

.logo {
  font-family: "Audiowide", cursive;
  font-size: 25px;
  display: flex;
  justify-content: left;
  margin-top: 20px;
  margin-bottom: 10px;
}

.coded,
.links {
  text-align: start;
}
.links {
  margin-left: -10px;
  margin-top: 10px;
}

.netlifyLink,
.priyal {
  text-decoration: none;
  color: black;
}
.netlifyLink:hover,
.priyal:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #5cc2b2;
}

.linkedin,
.facebook,
.instagram,
.github {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}
.github {
  padding-right: 0px;
}
.linkedlink,
.fblink,
.instalink,
.githublink {
  color: black;
  text-decoration: none;
}
.linkedlink:hover {
  color: #1066c2;
}
.fblink:hover {
  color: #3b5998;
}
.instalink:hover {
  color: #e0447c;
}
.githublink:hover {
  color: #682e8e;
}
